<form (ngSubmit)="logForm()" [formGroup]="user">

  <div class="body-background">
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">
      <div class="card p-3 text-center py-4">
        <h4>Wallet</h4>

        <div class="mt-3 px-3">
          <input class="form-control" placeholder="Почта" formControlName="email">
        </div>
        <div class="input-group px-3 mt-3">
          <input type="password" class="form-control" placeholder="Пароль" aria-label="Username" formControlName="password">
        </div>

        <div class="mt-3 d-grid px-3">
          <button
            class="btn btn-primary btn-block btn-signup"
            type="submit"
            [disabled]="!user.valid"
          >
            <span>Войти</span>

          </button>
        </div>
      <div class="mt-3 d-grid px-3">
        <button
          class="btn btn-primary btn-block btn-signup"
          type="submit"
          [routerLink]="['/registr']"
        >
          <span>Зарегистрироваться</span>

        </button>
      </div>
        <!--      <div class="px-3">-->
        <!--        <div class="mt-2 form-check d-flex flex-row">-->
        <!--          <input class="form-check-input" type="checkbox" value="" id="services">-->
        <!--          <label class="form-check-label ms-2" for="services">I have read and agree to the terms. </label>-->
        <!--        </div>-->
        <!--      </div>-->
      </div>
    </div>
  </div>

</form>

<!--<h1 class="app-name">WALLET</h1>-->


<!--<div class="text-center main-signin">-->
<!--  <form (ngSubmit)="logForm()" [formGroup]="user" class="form-signin">-->
<!--    &lt;!&ndash;    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">&ndash;&gt;-->
<!--    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
<!--    <label for="inputEmail" class="sr-only"></label>-->
<!--    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
<!--    <label for="inputPassword" class="sr-only"></label>-->
<!--    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--    <div class="checkbox mb-3">-->

<!--    </div>-->
<!--    <button-->
<!--      class="btn btn-lg btn-primary btn-block"-->
<!--      type="submit"-->
<!--    >-->
<!--      Sign in-->
<!--    </button>-->

<!--    <button-->
<!--      class="btn btn-lg btn-primary btn-block"-->
<!--      type="submit"-->
<!--      [routerLink]="['/registr']"-->
<!--    >-->
<!--      Sign up-->
<!--    </button>-->

<!--    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>-->
<!--  </form>-->
<!--</div>-->


<!--<h1 class="app-name">WALLET</h1>-->

<!--<form (ngSubmit)="logForm()" [formGroup]="user">-->


<!--    <div class="form-group">-->
<!--      <label for="exampleInputEmail1">Email</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="exampleInputPassword1">Password</label>-->
<!--      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--    </div>-->
<!--    <div class="form-group form-check">-->
<!--      <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--      <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->


<!--  <button-->
<!--    type="submit"-->
<!--    class="btn btn-primary"-->
<!--  >-->
<!--    Sign in-->
<!--  </button>-->

<!--  <button-->
<!--    class="btn btn-primary"-->
<!--    [routerLink]="['/registr']"-->
<!--  >-->
<!--    Sign up-->
<!--  </button>-->

<!--</form>-->


<!--<form>-->
<!--  <div class="form-row align-items-center">-->
<!--    <label for="exampleInputEmail1"></label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
<!--           placeholder="Enter email">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <div class="form-row align-items-center">-->
<!--    <label for="exampleInputPassword1"></label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--  <button-->
<!--    type="submit"-->
<!--    class="btn btn-primary"-->
<!--  >-->
<!--    Sign in-->
<!--  </button>-->

<!--  <button-->
<!--    class="btn btn-primary"-->
<!--    [routerLink]="['/registr']"-->
<!--  >-->
<!--    Sign up-->
<!--  </button>-->
<!--</form>-->
