<h1 class="app-name">WALLET</h1>


<div class="text-center main-signin">
  <form (ngSubmit)="logForm()" [formGroup]="user" class="form-signin">
    <!--    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only"></label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only"></label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">

    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
    >
      Sign in
    </button>

    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [routerLink]="['/registr']"
    >
      Sign up
    </button>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</div>


<!--<h1 class="app-name">WALLET</h1>-->

<!--<form (ngSubmit)="logForm()" [formGroup]="user">-->


<!--    <div class="form-group">-->
<!--      <label for="exampleInputEmail1">Email</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="exampleInputPassword1">Password</label>-->
<!--      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--    </div>-->
<!--    <div class="form-group form-check">-->
<!--      <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--      <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->


<!--  <button-->
<!--    type="submit"-->
<!--    class="btn btn-primary"-->
<!--  >-->
<!--    Sign in-->
<!--  </button>-->

<!--  <button-->
<!--    class="btn btn-primary"-->
<!--    [routerLink]="['/registr']"-->
<!--  >-->
<!--    Sign up-->
<!--  </button>-->

<!--</form>-->


<!--<form>-->
<!--  <div class="form-row align-items-center">-->
<!--    <label for="exampleInputEmail1"></label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
<!--           placeholder="Enter email">-->
<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--  </div>-->
<!--  <div class="form-row align-items-center">-->
<!--    <label for="exampleInputPassword1"></label>-->
<!--    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--  </div>-->
<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->
<!--  <button-->
<!--    type="submit"-->
<!--    class="btn btn-primary"-->
<!--  >-->
<!--    Sign in-->
<!--  </button>-->

<!--  <button-->
<!--    class="btn btn-primary"-->
<!--    [routerLink]="['/registr']"-->
<!--  >-->
<!--    Sign up-->
<!--  </button>-->
<!--</form>-->
